<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %> - Microblog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
  </head>
  <body>
    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Microblog</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">首頁</a></li>
              <% if (!user) { %>
                <li><a href="/login">登入</a></li>
                <li><a href="/reg">註冊</a></li>
              <% } else { %>
                <li><a href="/logout">登出</a></li>
              <% }%>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div id="container" class="container">
      <% if (success && success.length > 0) { %>
        <div class="alert alert-success">
          <%= success %>
        </div>
      <% } %>
      <% if (error && error.length > 0) { %>
        <div class="alert alert-error">
          <%= error %>
        </div>
      <% } %>
      
      <%- body %>
      <hr />
      <footer>
        <p><a href="/" target="_blank">Microblog</a> &copy; 2014</p>
      </footer>
    </div>
    
    <script src="/javascripts/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
    
  </body>
</html>