<% layout('layout') -%>
<form class="form-horizontal" method="post">
  <fieldset>
    <legend>使用者登入</legend>
    
    <div class="control-group">
      <label class="control-label" for="username">使用者名稱</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="username" name="username">
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="password">密碼</label>
      <div class="controls">
        <input type="password" class="input-xlarge" id="password" name="password">
      </div>
    </div>
    
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">登入</button>
    </div>
  </fieldset>
  
</form>