<form method="post" action="/post" class="well form-inline center" style="text-align: center;">
  <label class="control-label" for="post"><%= user.name %> 說：</label>
  <input type="text" class="span8" id="post" name="post">
  <button type="submit" class="btn btn-success">
    <i class="icon-comment icon-white"></i> 發言</button>
</form>